body {
    background-color: #fff;
    color: #000;
    margin: 0
}
/*HEADER*/
.header {
    display: flex;
}

.header img {
    width: 5%;
    margin-top: 20px;
    margin-left: 40px;
}
.header div {
    height: 6px;
    border: 0px;
    margin: 0px 0; 
}
.azul {
    background-color: #190C76;
    width: 1420px !important;
    margin-top: 55px !important;
}
.cinza {
    background-color: #d9d9d9 ;
    margin-left: 20px !important; 
    width: 1420px !important;
}
.azul1 {
    background-color: #190C76;
    width: 30px !important;
    margin-top: 55px !important;
}
.dropdown button{
    background-color: inherit !important;
    border: none;
    margin-left: -15px !important;
    margin-top: -5px !important;
    margin-right: -22px;
}
.cinza1 {
    background-color: #d9d9d9;
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                margin-left: 10px !important; 
    width: 30px !important;
    text-decoration: #000;
}
.azul2 {
    background-color: #190C76;
    width: 30px !important;
    margin-top: 55px !important;
    padding-left: -100px !important;
}
.cinza2 {
    background-color: #d9d9d9;
    margin-left: 10px !important; 
    width: 30px !important;
}
.icon {
    width: 33px;
    height: 33px;
    margin-top: 40px;
    margin-left: 10px;
    margin-right: 5px;
    color: #190C76;
}
.link {
    display: flex;
    text-align: center;
    justify-content: space-around;
    width: 60%;
    margin-top: 20px;
    margin-left: 170px;
    font-size: 1rem;
    color:#d9d9d9;
    gap: 2rem;

}
.link a:hover{
    text-transform: capitalize;
    color:var(--main-color);
    border-bottom: .1rem solid var(--main-color);
    padding-bottom: .10rem;
}
a {
    text-decoration: none !important;
    color: #190C76 !important;
}
.links {
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}
.card-produto {
    color: #190C76;
    text-align: center;
    margin-top: 100px;
}
.card-produto img {
    width: 100%;
}
.section-itens {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;    
}
.card-produto{
    width: 50%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.quadrado {
    background: rgba(217, 217, 217, 0.6);   
    border-radius: 15px;
}
.sub-title {
    border-left: #190C76 solid 3px;
}
.quadrado2 {
    width: 70%;
    height: 10%;
    background: rgba(217, 217, 217, 0.6);   
    border-radius: 15px;
}
p {
    text-align: center;
    margin: 3%;
    color: #190C76;
    padding-top: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 30px;
}
.pesquisa{
    display: flex;
    border: none;
    background-color: #fff;
}
.barra{
    width: 100px;
}
.buy {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1%;
}
.font_aa{
    font-size: 45px;
}
/*FOOTER*/  
.footer {
    width: 100%;
  display: flex;
  flex-direction: column;
  align-items: end;
  }

.header hr {
    display: flex;
    height: 6px;
    border: 0px;
    margin: 0px 0; 
}
.cinzafooter {
    background-color: #d9d9d9 !important;
    width: 80% !important;
    height: 10px;
    margin-bottom: 0px;
  }
.azulfooter {
  background-color: #190C76 !important;
  height: 100px;
  width: 100%;
  padding: 10px 0;
    padding-right: 0px;
  display: flex;
  align-items: end;
  justify-content: space-around;
  flex-direction: column;
  padding-right: 10px;
  margin: 0px;
  }

.pfooter {
    color: #d9d9d9;
    font-size: 20px;
    margin: 0px;
  }
  .elmentfooter {
    width: 5%;
    display: flex;
    justify-content: space-around;
  }
.iconsFooter {
    color: #d9d9d9;
}
.iconsFooters {
    color: #d9d9d9;
}

/*EXIBE PRODUTOS (TELAS DE COMPRAS)*/
.espaco {
    margin-top: 15px; 
}
.exibe {
    display: flex;
    margin-top: 12px;
    padding: 0%;
}
.exibe-produto-desc{
    margin: 150px 250px 0px 50px !important;     
}
.buycompras{
    font-size: 30px;
    color: #190C76;
}
.buyPreco {
    display: flex;
    font-size: 25px;
}
.estrelas{
    font-size: 20px;
    color: #190C76;
    border: #000;
}
.ExibeQuadrado {
    margin: 100px 0 50px 350px;
    width: 500px;
    height: 100%;
    background: rgba(217, 217, 217, 0.6);   
    border-radius: 15px;
    text-align: center;
}
.linhaazul{
    background-color: #190C76;
    width: 700px;
    height: 5px;
}
.cores {
    display: flex !important;
}
.cor {
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 5px;
    color: #190C76;
}

.tamanho {
        font-size: 20px;
        margin-top: 10px;
        margin-bottom: 15px;
        color: #190C76;
    
}
.btnTamanhos{
    border: none;
    background-color: #fff;
    border-radius: 40%;
    justify-content: center;
    height: 30px;
    margin: 5px;
    display: flex;
    
}
.tamanhos{
    display: flex;
    cursor: p;
}

.finalizar {
    display: flex;
    margin-top: 15px;
}

.btn-primary{
    background-color: #190C76 !important;
    border-color: none !important;
    width: 200px;
    border-radius: 5px;
    border-bottom: solid 1px #d9d9d9;
    transition: background-color 0.25s ease;
}
.btn-primary:hover{
    text-transform: capitalize;
    background-color:rgba(7, 19, 128, 0.747) !important;    

    border-bottom: solid 1px
}
.btnCompra h2 {
    text-align: center;
    font-size: 30px;
    color: #fff;
}
.iconsCompra {
    align-items: center;
    text-align: center;
    margin-top: 10px;
    margin-left: 40px;
}
.iconCompra {
    color: #190C76;
    margin-right: 10px;
    font-size: 40px;    
}
.iconCompra1 {
    color: #190C76;
    font-size: 30px;
}

.anu {
    margin: 0%;
    padding: 0%;
}
.barra {
    margin-top: 30px;
    margin-bottom: -0%;
    padding: 0%;
}

.p{
    background-color: rgba(217, 217,217, 0.6);
    border-radius: 40%;
    justify-content: center;
    width: 30px;
    height: 30px;
    margin: 5px;
    display: flex;
    
}
.m{
    background-color: rgba(217, 217,217, 0.6);
    border-radius: 40%;
    justify-content: center;
    width: 30px;
    height: 30px;
    margin: 5px;
    display: flex;
}
.g{
    background-color: rgba(217, 217,217, 0.6);
    border-radius: 40%;
    justify-content: center;
    width: 30px;
    height: 30px;
    margin: 5px;
    display: flex;
}
.gg{
    background-color: rgba(217, 217,217, 0.6);
    border-radius: 40%;
    justify-content: center;
    width: 40px;
    height: 30px;
    margin: 5px;
    display: flex;
}
.btnCor1{
    border: none;
    background-color:#190C76;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin: 5px;
}
.btnCor2{
    border: none;
    background-color: aqua;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin: 5px;
}
.btnCor3{
    border: none;
    background-color:#000;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin: 5px;
}
/* LOGIN */
.container{
    margin: 121px 0px 329px 100px;
}
.container h1 {
    text-align: center;
    color: #190C76;
}
.inputs {
	padding: 10px;
	border: none;
    background-color: #d9d9d9;    
    width: 80%;
    outline: none;
}
.email {
    display: flex;
    background-color: #d9d9d9;  
    border-radius: 20px;
    width: 30%;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    margin-left: 455px;
}
.password {
    display: flex;
    background-color: #d9d9d9;  
    border-radius: 20px;
    width: 30%;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-left: 455px;

}
.iconemail {
    width: 10%;
}
.iconsenha {
    width: 10%;
}
.espacologin {
    margin-left: 20px;
}
.recall {
    font-size: 9px;
    margin-left: 470px;
}
.checkcolaborador {
    margin-left: 60px;

}
.checksenha {
    margin-left: -10px;

} 
.checkmimm {
    margin-bottom: 10px;
    margin-right: 2px;
    text-align: center;
    align-items: center;
}
.recall {
    margin-top: 8px;
}
.btnentrar{
    margin-top: 20px;
    margin-left: 580px;
    background-color: #190C76; 
    color: #d9d9d9 !important;
    border-radius: 15px;
    border: none;
    width: 10%;
    height: 30px;
}
.btnentrar a{
    color: #d9d9d9 !important;
}
.checkcadastro {
    font-size: 7px;
    margin-top: -10px;
}
/* CADASTRO */
.containerCadastro {
    width: 35%;
    text-align: center;
  }
.CadastroH1 {
  font-size: 30px;  
  color: #190C76;
  text-align: center;
}
.CadastroBox { 
    border-radius: 15px;
    border: none;
    background-color: rgba(217, 217,217, 0.6); 
    color: #190C76;
    margin-top: 15px;
}
.btnCadastro {
    border: none;
    border-radius: 15px;
}
.btnCadastro:hover{
    text-transform: capitalize;
    background-color: #d9d9d9;
    color: #d9d9d9 !important;
}

.cadastro{
    display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 100vh;
  align-content: space-between;
}


/*RESPONSIVIDADE*/


@media (max-width:1000px){
    .azul {
        max-width:5vh;
    }
    .cinza {
        max-width: 5vh;
    }

    .header{
        max-width: 100%;
        
    }
    .CadastroH1{
        max-width: 50vh;
    }
    .containerCadastro{
        width: 50vw;
    }
    .azulfooter{
        padding: 10px;
        display: flex;
        justify-content: space-between;
        max-width: 100vh;
    }
    .cinzafooter{
        max-width: 41vh;
        margin: 0vh;
        padding: 0;
    }
    .azulfooter p{
        max-width: 100vh;
        margin: 01vh;
        padding: 0px;
    }

   .azul2{
    padding-right: 1px;
   }
    .cinza2{
        padding-right:1px ;
    }
  
}


















