body {
    background-color: #fff;
    color: #000;
    margin: 0
}
.header {
    display: flex;
}

.header img {
    width: 5%;
    margin-top: 20px;
    margin-left: 40px;
}
.header div {
    height: 6px;
    border: 0px;
    margin: 0px 0; 
}
.azul {
    background-color: #190C76;
    width: 1420px !important;
    margin-top: 55px !important;
}
.cinza {
    background-color: #d9d9d9 ;
    margin-left: 20px !important; 
    width: 1420px !important;
}
.azul1 {
    background-color: #190C76;
    width: 30px !important;
    margin-top: 55px !important;
}
.dropdown button{
    background-color: inherit !important;
    border: none;
    margin-left: -15px !important;
    margin-top: -5px !important;
    margin-right: -22px;
}
.cinza1 {
    background-color: #d9d9d9;
    margin-left: 10px !important; 
    width: 30px !important;
    text-decoration: #000;
}
.azul2 {
    background-color: #190C76;
    width: 30px !important;
    margin-top: 55px !important;
    padding-left: -100px !important;
}
.cinza2 {
    background-color: #d9d9d9;
    margin-left: 10px !important; 
    width: 30px !important;
}
.icon {
    width: 33px;
    height: 33px;
    margin-top: 40px;
    margin-left: 10px;
    margin-right: 5px;
    color: #190C76;
}
.link {
    display: flex;
    text-align: center;
    justify-content: space-around;
    width: 60%;
    margin-top: 20px;
    margin-left: 170px;
    font-size: 1rem;
    color:#d9d9d9;
    gap: 2rem;

}
.link a:hover{
    text-transform: capitalize;
    color:var(--main-color);
    border-bottom: .1rem solid var(--main-color);
    padding-bottom: .10rem;
}
a {
    text-decoration: none !important;
    color: #190C76 !important;
}
.links {
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}
.card-produto {
    color: #190C76;
    text-align: center;
    margin-top: 100px;
}
.card-produto img {
    width: 100%;
}
.section-itens {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;    
}
.card-produto{
    width: 50%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.quadrado {
    background: rgba(217, 217, 217, 0.6);   
    border-radius: 15px;
}
.sub-title {
    border-left: #190C76 solid 3px;
}
.quadrado2 {
    width: 70%;
    height: 10%;
    background: rgba(217, 217, 217, 0.6);   
    border-radius: 15px;
}
p {
    text-align: center;
    margin: 3%;
    color: #190C76;
    padding-top: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 30px;
}
.buy {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1%;
}
.font_aa{
    font-size: 45px;
}

.footer {
    display: flex;
    
}
.header hr {
    display: flex;
    height: 6px;
    border: 0px;
    margin: 0px 0; 
}
.cinzafooter {
    margin-top: 80px;
    margin-bottom: 0px;
    margin-left: 250px;
    background-color: #d9d9d9 !important;
    width: 1669px !important;
    height: 10px;
}
.azulfooter{
    background-color: #190C76 !important;
    width: 1920px !important;
    height: 100px;
    margin: 0%;
    display: flex;
}
.azulfooter p {
    margin: 0;
    padding-top: 70px;
    color: #d9d9d9;
    font-size: 20px;
}
.iconsFooter {
    color: #d9d9d9;
    margin-left: 5px;
}
.exibe-produto-desc{
    display: flex;
    justify-content: center;
    width: 120%;
    
}
.espaço {
    margin: 0%;
    height: 110px;
}
.ExibeQuadrado {
    margin: 10px 0 0px 20px;
    width: 500px;
    height: 100%;
    background: rgba(217, 217, 217, 0.6);   
    border-radius: 15px;
    text-align: center;
}
.exibe-produto-desc a {
margin-top: 100px;    
}
.estrelas{
    color: #000;
}